<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a Review</title>
</head>
<body>
    <h1>Write Your Review</h1>
        <ul>
            <strong>Title:</strong> {{ content_instance.title }}<br>
            <strong>Content:</strong> {{ content_instance.content_type }}<br>
            <strong>Description:</strong> {{ content_instance.description }}<br>
        </ul>
   
    <form action="{% url 'review_form' movie_id=content_instance.id %}" method="post">
        {% csrf_token %}

        <label for="review_description">Write your review here:</label>
        <textarea name="review_description" id="review_description" required></textarea><br>

        <label for="rating">Rating (1-5):</label>
        <input type="number" name="rating" id="rating" min="1" max="5" required><br>

        <button type="submit">Submit Review</button>
    </form>

        <h2>Reviews for {{ content_instance.title }}</h2>
            <img src="{{ content_instance.image.url }}" alt="{{ content_instance.title }}" style="width:200px; height:auto;">

            {% if reviews %}
                <ul>
                    {% for review in reviews %}
                        <li>
                            <strong>User:</strong> {{review.user}} <br>
                            <strong>Rating:</strong> {{ review.rating }}<br>
                            <strong>Review:</strong> {{ review.review_description }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>No reviews found for {{ content_instance.title }}</p>
            {% endif %}
</body>
</html>
