<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    <h1>All Reviews</h1>
    
    <h1>Reviews:</h1>
    <ul>
        {% for review in reviews %}
            <li>
                <strong>Title:</strong> {{ review.content_title.title }}<br>
                <strong>Description:</strong> {{ review.review_description }}<br>
                <strong>Rating:</strong> {{ review.rating }} stars
            </li>
        {% empty %}
            <li>No reviews available.</li>
        {% endfor %}
    </ul>

</body>
</html>
